<section class="d-flex flex-column justify-content-between" id="itb-hero" style="background-position:center;">
  <div id="hero-top">
    <nav class="navbar navbar-light navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">inTheBand&nbsp;
          <i class="fa fa-circle-o-notch" style="font-size:18px;"></i>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="font-size:13px;font-family:Montserrat, sans-serif;color:rgb(255,255,255);">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="#" id="create-event" style="background-color:rgba(255,255,255,0.54);">Create an Event</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#" id="login-link" style="background-color:rgba(255,255,255,0.47);">Log in</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#" id="signup-link" style="color:#5f5f5f;background-color:rgba(255,255,255,0.57);">Sign up</a>
            {{!-- </li> --}}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="hero-mid">
    <h1 class="text-center" id="Title" style="background-color:rgba(255,255,255,0.41);">What do you like to do?</h1>
    <h2 class="text-center" id="sub-title" style="background-color:rgba(255,255,255,0.31);">Meet people with inTheBand</h2>
  </div>
  <div id="hero-bottom">
    <div class="container">
      <div class="row">
        <div class="col" id="signup-col">
          <button class="btn btn-primary" type="button" style="background-color:#b70379;color:rgb(255,255,255);">Log in/Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</section>