<section class="d-flex flex-column justify-content-between" id="itb-hero" style="background-position:center;">
  <div id="hero-top">
    <nav class="navbar navbar-light navbar-expand-md">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">inTheBand&nbsp;
          <i class="fa fa-circle-o-notch" style="font-size:18px;"></i>
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1" style="font-size:13px;font-family:Montserrat, sans-serif;color:rgb(255,255,255);">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="#" id="create-event" style="background-color:rgba(255,255,255,0.54);">Create an Event</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#" id="login-link" style="background-color:rgba(255,255,255,0.47);">Log in</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" href="#" id="signup-link" style="color:#5f5f5f;background-color:rgba(255,255,255,0.57);">Sign up</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div id="hero-mid">
    <h1 class="text-center" id="Title" style="background-color:rgba(255,255,255,0.41);">What do you like to do?</h1>
    <h2 class="text-center" id="sub-title" style="background-color:rgba(255,255,255,0.31);">Meet people with inTheBand</h2>
  </div>
  <div id="hero-bottom">
    <div class="container">
      <div class="row">
        <div class="col" id="signup-col">
          <button class="btn btn-primary" id="login-btn" type="button" style="background-color:#b70379;color:rgb(255,255,255);">Log in</button>
          <p>Don't Have An Account?
            <button class="btn btn-primary" id="signup-btn" type="button" style="background-color:#b70379;color:rgb(255,255,255);">Sign Up</button>
          </p>
        </div>
      </div>
    </div>
  </div>

  {{!-- Login Modal --}}
  <div id="login-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login-dark">
            <form method="post">
              <h2 class="sr-only">Login Form</h2>
              <div class="illustration">
                <i class="icon ion-ios-locked-outline"></i>
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
              </div>
              <a href="#" class="forgot">Forgot your email or password?</a>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button">Save</button>
        </div>


<!-- Stuck this here for now -->
   <br>
   <a href="/auth/facebook">Login with Facebook</a>
    <br>
    <a href="/auth/twitter">Login with Twitter</a>
    <br>
    <a href="/auth/github">Login with Github</a>
    <br>
    <a href="/auth/google">Login with Google</a>
<!-- end of stuck stuff -->

      </div>
    </div>
  </div>

  {{!-- Sign Up Modal --}}
  <div id="signup-modal" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="login-dark">
            <form method="post">
              <h2 class="sr-only">Login Form</h2>
              <div class="illustration">
                <i class="icon ion-ios-locked-outline"></i>
              </div>
               <div class="form-group">
                <input class="form-control" type="name" name="name" placeholder="Raul Sanchez">
              </div>
              <div class="form-group">
                <input class="form-control" type="email" name="email" placeholder="E-mail">
              </div>
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input class="form-control" type="handle" name="handle" placeholder="@partyboy">
              </div>
              <div class="form-group">
                <input class="form-control" type="address" name="address" placeholder="1300 N Post Oak">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Sign Up</button>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-light" type="button" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" type="button">Save</button>
        </div>
      </div>
    </div>
  </div>

</section>


<script>
  $("#login-btn").on('click', function () {
    console.log("dentro del click");
    $("#login-modal").modal("toggle");
  });

  $("#signup-btn").on('click', function () {
    $("#signup-modal").modal("toggle");
  });
</script>