<div class="container">
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="userName">username</label>
        <input name="userName" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />        
        <label for="handle">handle</label>
        <input name="handle" type="text" />
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
</div>