body {
  background-color:rgb(16,15,15);
  color:rgb(237,240,242);
  background-image:url("none");
}

.list-group-item {
  line-height: 2.5;
}


.ronnie_tm_animation_text_word{
  font-size: 70px;
	font-weight: 600;
	font-family: "Montserrat";
	letter-spacing: -1px;
}

@media (max-width: 768px) {
  .ronnie_tm_animation_text_word{font-size: 45px;}
}

@media (max-width: 480px) {
  .ronnie_tm_animation_text_word{font-size: 35px;}
}



#itb-hero {
  width:100%;
  height:100vh;
  background-image:url("../../assets/img/smallgroup4.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.navbar-light .navbar-brand {
  font-family:'Black Ops One', cursive;
  width:150px;
  background-position:center;
  background-size:80%;
  color:rgba(0,0,0,0.9);
  background-color:rgba(255,255,255,0.22);
  padding-left:10px;
}

@media (min-width: 992px) {
  .navbar-light .navbar-brand {
    color:white;
  }
}

#navcol-1 {
  text-transform:uppercase;
}

#signup-link {
  color:black;
}

.btn:not(:disabled):not(.disabled) {
  color:rgb(255,255,255);
  border:none;
}

#hero-mid {
  color:black;
}

@media (min-width: 768px) {
  #itb-hero {
    background-image:url("../../assets/img/group4.jpg");
  }
}

#headings {
  font-family:'Black Ops One', cursive;
}

#Title {
  font-weight:300;
  letter-spacing:0px;
  font-size:30px;
}

#sub-title {
  font-size:30px;
  font-family:Montserrat, sans-serif;
}

#signup-col {
  text-align:center;
}

#hero-bottom {
  margin-bottom:40px;
}

