

body {
  color:rgb(237,240,242);
  background-image:url("none");
}

.list-group-item {
  line-height: 2.5;
}


#itb-hero {
  width:100%;
  height:100vh;
  background-image:url("../images/smallgroup4.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
}

.navbar-light .navbar-brand {
  font-family:'Black Ops One', cursive;
  width:150px;
  background-position:center;
  background-size:80%;
  color:rgba(0,0,0,0.9);
  background-color:rgba(255,255,255,0.22);
  padding-left:10px;
}

@media (min-width: 370px) {
  .navbar-light .navbar-brand {
    color:white;
  }
}

#navcol-1 {
  text-transform:uppercase;
}

#signup-link {
  color:black;
}

.btn:not(:disabled):not(.disabled) {
  color:rgb(255,255,255);
  border:none;
}

#hero-mid {
  color:black;
}

@media (min-width: 768px) {
  #itb-hero {
    background-image:url("../images/group4.jpg");
  }
}

#headings {
  font-family:'Black Ops One', cursive;
}

#Title {
  font-weight:600;
  letter-spacing:0px;
  font-size:30px;
}

#sub-title {
  font-weight:600;
  font-size:25px;
  font-family:Montserrat, sans-serif;
}

#signup-col {
  text-align:center;
}

#hero-bottom {
  margin-bottom:40px;
}

#dash-container {
  background-color: white;
  color: #323232;
  font-weight: 300;
}

#col-checkbox {
  text-align: center;
}

#login-btn {
  background-color:#b70379;
  color:rgb(255,255,255);
}
#login-btn:hover {
  background-color:#a34381;
  color:rgb(255,255,255);
}
.modal-btn-style {
  background-color:#b70379;
  color:rgb(255,255,255);
}
.modal-btn-style:hover {
  background-color:#a34381;
  color:rgb(255,255,255);
}

#signup-btn {
  background-color:rgba(255,255,255,0.47);
  color:rgb(255,255,255);
  opacity: .5;
}

#signup-btn:hover {
  opacity: .8;
}
#signup-col p {
  color:white;
}

.modal-css a{
  color: #5f5f5f;
}

#social-media-login a{
  color: #5f5f5f;
}
#social-media-login{
  text-align: center;
  padding: 20px;
}

#dash-heading{
  padding-top: 50px;
  text-align: center;
  color: #aca9a9;
}

.your-events{
  padding: 50px;
}

#dash-events-div{
  margin: auto;
  text-align: center;
}

#dash-events-title{
  font-weight: 650;
}



